/* Wrapper you control */
.media-modal .alexk-carousel-rightside-container {
  padding: 8px 0;
}

.media-modal .alexk-carousel-rightside-container label {
  font-weight: 600;
  padding-left: 2rem;
}

.media-modal .alexk-carousel-checkbox-details {
  padding-top: 2rem;
  margin-top: 6px;
  font-size: 12px;
  opacity: 0.8;
  line-height: 1.3;
}
