/* Wrapper you control */
 /* * {
  outline: 1px solid red;
}  */

.media-modal .alexk-carousel-rightside-container {
  padding: 0;
}

.media-modal .alexk-carousel-rightside-label {
  font-weight: 600;
  padding-left: 0rem;
  padding-top: .5rem;
}
body.post-php.post-type-attachment .alexk-carousel-rightside-label {
  padding-top: 2rem;
}

.media-modal .alexk-carousel-rightside-label .carousel-checkbox {
  font-weight: 600;
  padding-left: 0rem;
  position: relative;
  top: -.3rem;
}

.media-modal .alexk-carousel-checkbox-details {
  padding-top: 1rem;
  margin-top: 6px;
  font-size: 12px;
  opacity: 0.8;
  line-height: 1.3;
}

body.post-php.post-type-attachment .alexk-carousel-checkbox-details{
  padding-top: 1rem;
}

body.post-php.post-type-attachment span.alignleft {
  margin-top: -.55rem;
}

